mark {
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-radius: 0.5em;
	border: 0.07em solid red;
	color: #f8f8f2;
	background-color: #272822;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
