mark {
font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
list-style: none;
list-style-image: none;
box-sizing: border-box;
font-weight: bold;
display: inline-block;
margin: 6px 0;
font-size: 90%;
line-height: normal;
background: #e7f2fa;
color: #2980B9;
border-top: solid 3px #6ab0de;
padding: 6px;
position: relative;
margin-top: 0;
}
