<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link href="prism/prism-base16-atelierforest.light.css" rel="stylesheet" />
  <link href="prism/prism-toolbar.css" rel="stylesheet" />
  <link href="prism/prism-match-braces.css" rel="stylesheet" />
  <link href="prism/prism-line-numbers.css" rel="stylesheet" />
  <link href="prism/inline_code.css" rel="stylesheet" />
  <link href="prism/mark.css" rel="stylesheet" />
  <link rel='shortcut icon' type='image/x-icon' href='image/AC-Milan-Logo.ico' />
  {%- feed_meta -%}
  <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
  <script src="prism/prism(core+html+c-like+css+javascript).js"></script>
  <script src="prism/prism-batch.js"></script>
  <script src="prism/prism-neon.js"></script>
  <script src="prism/prism-visual-basic.js"></script>
  <script src="prism/prism-editorconfig.js"></script>
  <script src="prism/prism-keep-markup.js"></script>
  <script src="prism/prism-match-braces.js"></script>
  <script src="prism/prism-toolbar.js"></script>
  <script src="prism/prism-copy-to-clipboard.js"></script>
  <script src="prism/prism-line-numbers.js"></script>
  <script src="prism/select-code.js"></script>
  <script src="bowser/es5.js"></script>
  <script src="bowser/style_scrollbar_when_desktop.js"></script>
  <script src="javascript/hide_navbar_when_scroll.js"></script>
  <script src="javascript/toggle_navbar_when_click.js"></script>
  <script src="javascript/scroll_in_navbar.js"></script>
</head>
